{% extends 'core/base.html' %}
{% block title %}
  {% if form.instance.pk %}Edytuj analizę{% else %}Dodaj analizę{% endif %}
{% endblock %}
{% block content %}
  <h2>
    {% if form.instance.pk %}Edytuj{% else %}Dodaj{% endif %} analizę
  </h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.nazwa.label_tag }} {{ form.nazwa }}<br>
    {{ form.opis.label_tag }}  {{ form.opis }}<br>
    {{ form.zdjecie }}  {# To ukryte pole file #}

    <p>
      <!-- <button type="button" id="change-filename-btn">Zmień nazwę pliku</button> -->
      <button type="submit">Zapisz</button>
    </p>
  </form>

  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const dataURL = localStorage.getItem('bwImage');
      if (!dataURL) return;

      fetch(dataURL)
        .then(res => res.blob())
        .then(blob => {
          let filename = 'analiza.png';
          const file = new File([blob], filename, { type: blob.type });
          const input = document.querySelector('input[type="file"]');
          const dt = new DataTransfer();
          dt.items.add(file);
          input.files = dt.files;
        });
    });
  </script>
{% endblock %}
