{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="utf-8">
  <title>{% block title %}MedApp{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link rel="stylesheet" href="{% static 'css/forms.css' %}">
  <link rel="stylesheet" href="{% static 'css/details.css' %}">
</head>
<body>
  {% if user.is_authenticated %}
    <header>
      <div class="nav-left">
        <span>Witaj, {{ user.username }}!</span>
        <a href="{% url 'core:pacjent-list' %}">Pacjenci</a>
        <a href="{% url 'core:badanie-list' %}">Badania</a>
      </div>
      <div class="nav-right">
        <form method="post" action="{% url 'logout' %}">
          {% csrf_token %}
          <button type="submit">Wyloguj</button>
        </form>
      </div>
    </header>
  {% endif %}
  
  <div style="padding: 20px;">
    {% block content %}{% endblock %}
  </div>
</body>
</html>
