{% extends 'core/base.html' %}
{% block title %}Pacjenci{% endblock %}
{% block content %}
  <h2>Pacjenci</h2>
  <p><a href="{% url 'core:pacjent-add' %}">+ Dodaj pacjenta</a></p>
  <ul>
    {% for pacjent in pacjenci %}
      <li>
        {{ pacjent.imie }} {{ pacjent.nazwisko }}
        <!-- nowy przycisk obok -->
        <a href="{% url 'core:badanie-add' %}?pacjent={{ pacjent.pk }}">[+ Dodaj badanie]</a>
      </li>
    {% empty %}
      <li>Brak pacjentów.</li>
    {% endfor %}
  </ul>
{% endblock %}